{% extends 'org_base.html' %}
{% block title %}教师页面{% endblock %}
{% block page_path %}机构教师{% endblock %}
{% block right_form %}
<div class="right companycenter layout" >
        <div class="head">
            <h1>机构教师</h1>
        </div>
        <div class="messagelist">
            <div class=" butler_list butler-fav-box">
                {% for teacher in all_teachers.object_list %}
{#                    <div class="module5 share company-diary-box" style="padding:10px 0;">#}
{#                <div class="left">#}
{#                    <a href="{% url 'org:teacher_detail' teacher.id %}">#}
{#                    <img width="100" height="100" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ teacher.image }}" src="{{ MEDIA_URL }}{{ teacher.image }}"/>#}
{#                    <p>{{ teacher.name }}</p>#}
{#                </a>#}
{#                </div>#}
{#                        <a href="{% url 'org:teacher_detail' teacher.id %}">#}
{##}
{##}
{##}
{##}
{#                </a><div class="right"><a href="{% url 'org:teacher_detail' teacher.id %}">#}
{#                    </a><div class="top"><a href="{% url 'org:teacher_detail' teacher.id %}">#}
{#                        </a><div class="fl"><a href="{% url 'org:teacher_detail' teacher.id %}">#}
{#                            </a><a href="{% url 'org:teacher_detail' teacher.id %}"><h1>{{ teacher.name }}</h1></a>#}
{#                            <span>发表于：2015-10-12</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="middle" style="border-bottom:0;">课程介绍</div>#}
{#                        <ul class="cont clearfix">#}
{#                            <li class="time">工作年限：<span>{{ teacher.work_years }}</span></li>#}
{#                            <li class="c7">课程数：<span>3</span></li>#}
{#                        </ul>#}
{#                </div>#}
{#            </div>#}
                <dl class="des users">
                    <dt>
                        <a href="{% url 'org:teacher_detail' teacher.id %}">
                        <img width="100" height="100" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ teacher.image }}" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                        </a>
                    </dt>
                    <dd>
                        <h1>
                            <a href="{% url 'org:teacher_detail' teacher.id %}">
                            {{ teacher.name }}<span class="key">已认证</span>
                            </a>
                        </h1>
                        <ul class="cont clearfix">
                            <li class="time">工作年限：<span>{{ teacher.work_years }}</span></li>
                            <li class="c7" style="text-indent: 20px;">课程数：<span>3</span></li>
                        </ul>
                    </dd>
                </dl>
                {% endfor %}



            </div>
        </div>

        <div class="pageturn">
                        <ul class="pagelist">
                            {% if all_teachers.has_previous %}
                                <li class="long"><a href="?{{ all_teachers.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in all_teachers.pages %}
                                {% if page %}
                                    {% ifequal page all_teachers.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_teachers.has_next %}
                                <li class="long"><a href="?{{ all_teachers.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
    </div>

{% endblock %}



